@* <div style="max-width: 100%;
    overflow: hidden; min-height: 47vh; display: flex; flex-direction: column;">
    <main style="flex: 1;">

    </main>
    <footer style="
        background-color: #2d8140;
        color: white;
        padding: 20px 0;
        text-align: center;
        padding-left:27%;
        width: 158.35%; /* Ensures the footer spans the full viewport width */
        margin: 0; /* Removes any default margin */
        position: relative;
        margin-left: -40%;
        margin-bottom: -8%;
    ">
        <div style=" margin: 0 auto; padding: 0 15px;">
            <p style="margin-bottom: 10px; font-size: 16px;">&copy; 2025 - FarmBridge</p>
            <a href="/privacy" style="color: white; text-decoration: none; font-weight: bold;">Privacy</a>
            <p style="margin-bottom: 10px; font-size: 16px;">
                Join FarmBridge: Be a part of our community and help revolutionize agriculture. Together, we can make a difference.
            </p>
            <div style="margin-top: 10px;">
                <a href="#" style="color: white; font-size: 20px; margin: 0 10px; text-decoration: none;">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" style="color: white; font-size: 20px; margin: 0 10px; text-decoration: none;">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" style="color: white; font-size: 20px; margin: 0 10px; text-decoration: none;">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </footer>
</div> *@